---
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
import MyExperiences from "../components/my-experiences.astro";
---

<Layout title="My Experience">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Expreriences"
      description="My recent working experiences."
    />
    <MyExperiences />
  </section>
</Layout>
