---
import MyExperiences from "../my-experiences.astro"
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    My Experiences
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    My recent working experiences.
  </p>
  <MyExperiences />
</section>
