<div  class="relative flex flex-col justify-start mt-2">
  <div class="text-xl text-secondary-foreground flex flex-row">
    <img src="/assets/images/education/unisa.png" class="w-10 h-10" />
    <div class="flex flex-col items-start pl-2">
      <h3 class="font-bold dark:text-neutral-300" aria-label="Education">The University of South Australia</h3>
      <p class="text-base text-neutral-600 dark:text-neutral-400">
        Postgraduate Diploma in Data Science
      </p>
    </div>
  </div>

  <div class="text-xl text-secondary-foreground flex flex-row mt-3">
    <img src="/assets/images/education/uniscience.png" class="w-10 h-10" />
    <div class="flex flex-col items-start pl-2">
      <h3 class="font-bold dark:text-neutral-300" aria-label="Education">University of Science</h3>
      <p class="text-base text-neutral-600 dark:text-neutral-400">
        Bachelor in Information Technology
      </p>
    </div>
  </div>

  <div class="text-xl text-secondary-foreground flex flex-row mt-3">
    <img src="/assets/images/education/certificates.png" class="w-10 h-10" />
    <div class="flex flex-col items-start pl-2">
      <h3 class="font-bold dark:text-neutral-300" aria-label="Education">Professional Certificates</h3>
      <p class="text-base text-neutral-600 dark:text-neutral-400">
        Udacity Nanodegree for Data Engineering in Azure.
      </p>
      <p class="text-base text-neutral-600 dark:text-neutral-400">
        Udacity Nanodegree for Data Engineering in AWS.
      </p>
      <p class="text-base text-neutral-600 dark:text-neutral-400">
        IBM Certificate for Professional Data Science.
      </p>
      <p class="text-base text-neutral-600 dark:text-neutral-400">
        Microsoft Certificate for Azure Data Fundamentals.
      </p>
      <p class="text-base text-neutral-600 dark:text-neutral-400">
        Microsoft Certificate for Power BI Data Analyst Associate.
      </p>
    </div>
  </div>

</div>