<div  class="relative flex flex-col justify-start">
  <div class="text-xl grow text-secondary-foreground flex flex-row">
    <img src="/assets/images/education/unisa.png" class="w-10 h-10" />
    <div class="relative grow flex flex-col items-start pl-5">
      <div class="flex flex-row w-full">
        <h3 class="grow font-bold dark:text-neutral-300" aria-label="Education">The University of South Australia</h3>
        <p class="ml-auto text-base dark:text-neutral-300 trackign-widest">Adelaide, Australia</p>
      </div>
      <div class="flex flex-row w-full">
        <p class="grow text-base text-neutral-600 dark:text-neutral-400">
          Postgraduate Diploma in Data Science
        </p>
        <p class="ml-auto text-base italic text-neutral-600 dark:text-neutral-500 trackign-widest">
          August 2022 - November 2023
        </p>
      </div>
      
    </div>
  </div>

  <div class="text-xl grow text-secondary-foreground flex flex-row mt-6">
    <img src="/assets/images/education/uniscience.png" class="w-10 h-10" />
    <div class="flex flex-col w-full items-start pl-5">
      <div class="flex flex-row w-full">
        <h3 class="grow font-bold dark:text-neutral-300" aria-label="Education">University of Science</h3>
        <p class="ml-auto text-base dark:text-neutral-300 trackign-widest">Ho Chi Minh, Vietnam</p>
      </div>
      <div class="flex flex-row w-full">
        <p class="grow text-base text-neutral-600 dark:text-neutral-400">
          Bachelor in Information Technology
        </p>
        <p class="ml-auto text-base italic text-neutral-600 dark:text-neutral-500 trackign-widest">
          September 2004 - July 2008
        </p>
      </div>
    </div>
  </div>

</div>